[submodule "libultraship"]
	path = libultraship
	url = https://github.com/RaYRoD-TV/libultraship.git
	branch = banjo-vr
[submodule "Torch"]
	path = Torch
	url = https://github.com/HarbourMasters/Torch.git
